@import "tailwindcss";
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
}

/* Velryon Typography System */
h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

body, p, span, a {
  font-family: 'Inter', sans-serif;
}

section {
  scroll-snap-align: start;
}
html {
  scroll-behavior: smooth;
}
